<h1>Dear <%= @user.first_name %>,</h1>

<p>You have updated your order <b>#<%= @order.id %></b> at Fortnite Elo Boosting.</p>

Here is your order information:
<pre>
Order Number: #<%= @order.id %>
  <% @order.order_items.each do |item| %>
    - <b>Fortnite Boost</b> - Mode: <%= item.mode.upcase %>, Platform: <%= item.platform.upcase %>, Amount: <%= item.quantity %><%= specials(item) %>. -- <%= price(item) %>
  <% end %>

<%= coupon(@order) %>
Total: <%= total(@order) %>
</pre>

<p>You can now pay for it using your preferred method at <%= link_to 'Fortnite Elo Boosting', "https://www.fortniteboosted.com/payment" %></p>
